<h2>This is the friends page</h2>

<% friends.forEach(function(friend){ %>
    <li><%= friend %></li>
<% }); %>

<form action="/addfriend" method="POST">
    <input type="text" placeholder="name" name="newFriend">
    <button>I made a new friend</button>
</form>